.button {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Open Sans";
  font-weight: 300px;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.button-new-process {
  background-color: #4444ff;
  color: #fff;
}

.button-filter {
  color: #000;
  padding: 12px 36px;
}

.button-filter:hover {
  border: none;
  border-bottom: 1px solid #0000ff;
  transition: 3ms;
}

.button-import,
.button-export,
.button-edit,
.button-expend,
.button-delete,
.button-close,
.button-filter {
  background-color: #fff;
}

.button-edit,
.button-expend {
  color: #003cff;
}

.button-delete {
  color: #ff3d00;
}

.button-close {
  color: #aea9bd;
  border: none;
  cursor: pointer;
}

.button-submit {
  color: #fff;
  background-color: #003cff;
}
