.status-opened, .status-closed, .status-preparing{
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  font-family: "Open Sans";
  border-radius: 5px;
}
.status-opened {
  background-color: #dcfdd4;
  color: #4fac16;
}
.status-closed {
  background-color: #fdd4d4;
  color: #ac1616;
}
.status-preparing {
  background-color: #fafdd4;
  color: #ac9d16;
}