.logoDiv{
  display: flex;
  width: 34%;
  margin-right: 48%;
  height: 100%;
}
.logoButton{
  display: flex;
  height: 75%;
  width: 25%;
  background-color: white;
}

.logoButton:hover{
  cursor: pointer;
}

.logo{
  height: 100%;
  width: 100%;
  background-color: white;
}