.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 100%;
  height: 100%;
  max-width: 729px;
  max-height: 458px;
  border: 1px solid #aea9bd;
  background-color: #fff;
  box-sizing: border-box;
}

.modal-title {
  color: #aea9bd;
  font-size: 20px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 20px 40px;
}

.modal-body {
  height: 270px;
  border: 1px solid #aea9bd;
  margin: 10px 40px;
  padding: 20px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.modal-footer {
  display: flex;
  padding: 20px;
  margin: 0 18px;
  display: flex;
  justify-content: space-between;
}

.button-delete {
  border: 1px solid #e9e9ea;
  border-radius: 15px;
  color: #ff3d00;
  height: 28px;
  width: 40px;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
}

.modal-options button {
  height: 26px;
  border-radius: 10px;
  margin: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.modal-options button:first-child {
  background-color: #fff;
  color: #003cff;
  border: 1px solid #e9e9ea;
  width: 80px;
}

.modal-options button:last-child {
  background-color: #003cff;
  color: #fff;
  width: 66px;
}
