.button-expen{
  
  color: #003cff;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  font-family: "Open Sans";
}

.button-expen:hover {
  font-weight: bold;
  cursor: pointer;
}