.table-selective-process {
  width: 100%;
  margin-top: 20px;
}

.table-selective-process a {
  color: #000;
}

.table-selective-process a:visited {
  color: #ababab;
}

.table-selective-process table {
  width: 100%;
  border: 1px solid #ababab;
}
.table-selective-process thead {
  border-bottom: 1px solid #ababab;
}
.table-selective-process th {
  text-align: center;
  color: #ababab;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.table-selective-process td {
  padding: 10px;
  text-align: center;
}
.table-selective-process td:first-child {
  text-align: center;
  font-weight: bold;
}
